mixin skillGridHeader(type="general")
  span.sheet-grid-header(data-i18n=`${type}-skills`)
  span.sheet-grid-header(data-i18n="stat")
  span.sheet-grid-header(data-i18n="rank")
  span.sheet-grid-header(data-i18n="total")

mixin skill(name=false)
  if(name)
    span(data-i18n=name)
    - var skill = `${name}_`
  else
    - var skill = ""
    input(type="text" name=`attr_${skill}name`)
  input(type="text" name=`attr_${skill}stat`)
  input(type="text" name=`attr_${skill}rank`)
  input(type="hidden" name=`attr_${skill}total` value="0")
  span.sheet-hand-written(name=`attr_${skill}total`)

mixin generalSkillsList(list)
  +skillGridHeader()
  each skill in list
    +skill(skill)

mixin textInput(attr, type = "single")
  label(for=attr)
    span(data-i18n=attr.replace(/_/g,'-'))
    div(class=`sheet-${type}-line-input`)
      if(type === "single")
        input(type="text" name=`attr_${attr}`)
      else
        input(type="hidden" name=`attr_${attr}`)
        textarea(name=`attr_${attr}` placeholder="Insert information...")
        span(name=`attr_${attr}`)
      
.sheet-container
  .sheet-bio
    img.sheet-logo(alt="Coyote & Crow Logo" src="https://github.com/MarkRivera/CoyoteAndCrow/blob/main/imgs/logo.png?raw=true")
    +textInput("character_name")
    .sheet-grid-container
      each attr in ["archetype", "path", "motivation", "age"]
        +textInput(attr)
    each attr in ["other-identities", "background", "short-term-goals", "long-term-goals"]
      +textInput(attr, "multi")
  
  .sheet-details.sheet-grid-container
    .sheet-col-left
      label
        span(data-i18n="stats")
      .sheet-grid-container.sheet-stats
        each attr in ["strength", "agility","endurance","intelligence","perception","wisdom","spirit","charisma","will"]
          +textInput(attr, "single")
      label
        span(data-i18n="derived-stats")
      .sheet-grid-container.sheet-derived-stats  
        each attr in ["physical-defense","body","mental-defense","mind", "mystical-defense", "soul"]
          +textInput(attr, "single")
    .sheet-col-right
      each attr in [{id: "initative-score", type:"single"}, {id:"abilities", type:"multi"},{id: "legendary-rank", type:"single"},{id:"states-effects",type:"multi"}]
        +textInput(attr.id, attr.type)
  
  .sheet-skills
    .sheet-grid-container
      .sheet-grid-container.sheet-col-left
        +generalSkillsList(["art", "atheletics", "ceremony", "charm", "coercion", "computers", "crafting", "cybernetics", "deception", "farming", "first-aid", "herbalism", "husbandry", "investigation"])
      .sheet-grid-container.sheet-col-mid
        +generalSkillsList(["knowledge", "language", "medicine", "melee-weapons", "music", "performance", "piloting", "ranged-weapons", "science", "skulduggery", "stealth", "survival", "tracking", "unarmed-combat"])
      .sheet-grid-container.sheet-col-right
        +skillGridHeader("specialized")
        fieldset.repeating_specialized-skills
          +skill()

script(type="text/worker")
  include sheetworkers.js
