mixin singleLineIput(attr)
  label(for=attr)
    span(data-i18n=attr)
    .sheet-single-line-input
      input(type="text" name=`attr_${attr}`)

mixin multiLineIput(attr)
  label(for=attr)
    span(data-i18n=attr)
    .sheet-multi-line-input
      textarea(name=`attr_${attr}` placeholder="Insert information...")
      span(name=`attr_${attr}`)
      
.sheet-container
  .sheet-bio
    +singleLineIput("name")

    .sheet-grid-container
      +singleLineIput("archetype")
      +singleLineIput("path")
      +singleLineIput("motivation")
      +singleLineIput("age")

    +multiLineIput("other-identities")
    +multiLineIput("background")
    +multiLineIput("short-term-goals")
    +multiLineIput("long-term-goals")