mixin textInput(attr, type = "single")
  label(for=attr)
    span(data-i18n=attr)
    div(class=`sheet-${type}-line-input`)
      if(type === "single")
        input(type="text" name=`attr_${attr}`)
      else
        textarea(name=`attr_${attr}` placeholder="Insert information...")
        span(name=`attr_${attr}`)
      
.sheet-container
  .sheet-bio
    +textInput("name")

    .sheet-grid-container
      each attr in ["archetype", "path", "motivation", "age"]
        +textInput(attr)

    each attr in ["other-identities", "background", "short-term-goals", "long-term-goals"]
      +textInput(attr, "multi")
  
  .sheet-details.sheet-grid-container
    .sheet-col-left
      span(data-i18n="stats")
      .sheet-stats
        each attr in ["strength", "agility","endurance","intelligence","perception","wisdom","spirit","charisma","will"]
          +textInput(attr, "single")
      span(data-i18n="derived-stats")
      .sheet-derived-stats  
        each attr in ["physical-defense","body","mental-defense","mind", "mystical-defense", "soul"]
          +textInput(attr, "single")
    .sheet-col-right
      each attr in [{id: "initative-score", type:"single"}, {id:"abilities", type:"multi"},{id: "legendary-rank", type:"single"},{id:"states-effects",type:"multi"}]
        +textInput(attr.id, attr.type)