mixin textInput(attr, type = "single")
  label(for=attr)
    span(data-i18n=attr)
    div(class=`sheet-${type}-line-input`)
      if(type === "single")
        input(type="text" name=`attr_${attr}`)
      else
        textarea(name=`attr_${attr}` placeholder="Insert information...")
        span(name=`attr_${attr}`)
      
.sheet-container
  .sheet-bio
    +textInput("name")

    .sheet-grid-container
      each attr in ["archetype", "path", "motivation", "age"]
        +textInput(attr)

    each attr in ["other-identities", "background", "short-term-goals", "long-term-goals"]
      +textInput(attr, "multi")
  
  .sheet-details.sheet-grid-container
    .sheet-col-left
      .sheet-stats
      .sheet-derived-stats  
    .sheet-col-right